<footer>
    <p>&copy; 2024 Secrets. All rights reserved.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAi4W6woJ9z6WOzbJr6fKYUibvhPzP2lW2k1L4DgqfVhJWsMzC2cD36QWc4lXQK" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+ni1p8Msve1p9I4YQZb7b1M4Y4y2utVj9g7sk6rjC04pJ2y3GZm49l9p" crossorigin="anonymous"></script>
</body>
</html>
